@import "~antd/lib/style/index";
@font-face {
    font-family: "ProductSansRegular";
    font-style: normal;
    src: url("../../public/font/Product-Sans-Regular.ttf");
}
.hoverbutton1 {
    background-color: #23ad46;
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-weight: bold;
    color: white;
}
.hoverbutton1:hover {
    background: linear-gradient(to right, #1ec949, #197593) !important;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    box-shadow: 0px 0px 10px #115b73;
    font-weight: bold;
    color: white !important;
    border: none !important;
}
.hoverbutton1:after {
    background-color: #23ad46;
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-weight: bold;
    color: white;
}
.hover-mobile-button {
    background-color: #23ad46;
    border: none;
    margin: 0rem 1rem 2rem 1rem;
    font-weight: bold;
    color: white;
    width: 90vw;
}
.hover-mobile-back {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    color: #23ad46;
    font-weight: bold;
}
.hover-mobile-back:hover {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    color: #23ad46;
    font-weight: bold;
    border: 1px solid #23ad46;
    box-shadow: 0px 0px 10px #adadad8c;
}

.hover-mobile-detail {
    background-color: #23ad46;
    border: none;
    font-weight: bold;
    color: white;
    width: 84vw;
    height: 5.5vh;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.hover-mobile-detail:hover {
    background: linear-gradient(to right, #1ec949, #197593) !important;
    box-shadow: 0px 0px 10px #115b73;
    border: none !important;
    font-weight: bold;
    color: white;
    width: 84vw;
    height: 5.5vh;
    margin-top: 1rem;
}
.hoverbutton-mobile {
    background-color: #23ad46;
    border: none;
    margin: 0rem 1rem 2rem 1rem;
    font-weight: bold;
    color: white;
    width: 30vw;
}
.button-mobile {
    width: 30vw;
    font-weight: bold;
    color: #23ad46;
}
.hoverbutton-mobile:hover {
    background: linear-gradient(to right, #1ec949, #197593) !important;
    box-shadow: 0px 0px 10px #115b73;
    border: none !important;
    margin: 0rem 1rem 2rem 1rem;
    font-weight: bold;
    color: white !important;
    width: 30vw;
}
.hoverbutton {
    background-color: #23ad46;
    border: none;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-weight: bold;
    color: white;
    width: 27.5vw;
}
.hoverbutton:hover {
    background: linear-gradient(to right, #1ec949, #197593) !important;
    box-shadow: 0px 0px 10px #115b73;
    font-weight: bold;
    color: white !important;
    width: 27.5vw;
    border: none !important;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
body {
    margin: 0;
    font-family: "ProductSansRegular" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}
.ant-menu-horizontal > .ant-menu-item-selected > a {
    color: #23ad46;
}
.button-more-thank {
    padding: 1rem 5rem 2.5rem 5rem;
    color: #23ad46;
    font-weight: bold;
    align-items: center;
}
.button-more {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    color: #23ad46;
    font-weight: bold;
}
.button-more:hover {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    color: #23ad46;
    font-weight: bold;
    font-size: 1.1vw;
    border: 1px solid #23ad46;
    box-shadow: 0px 0px 10px #adadad8c;
}
.button-more-mobile {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    color: #23ad46;
    font-weight: bold;
    width: 83vw;
}
.button-more-mobile:hover {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    color: #23ad46;
    font-weight: bold;
    font-size: 4.2vw;
    width: 83vw;
    box-shadow: 0px 0px 12px #adadad8c;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.button-news {
    height: 9vh;
    width: 25vw;
    color: #23ad46;
    font-weight: bold;
}
.button-news-mobile {
    height: 6vh;
    color: #23ad46;
    font-weight: bold;
}
.about-properin {
    padding-right: 9rem;
    padding-left: 5rem;
    font-size: 1.2vw;
}
.about-properin-mobile {
    padding-right: 4rem;
    padding-left: 4rem;
    font-size: 3vw;
}
.link-to-home {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 5rem;
}
.link-to-home-mobile {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
}
.another-news {
    font-size: 1.4vw;
    text-align: left;
    padding-bottom: 1rem;
}
.another-news-mobile {
    font-size: 4.5vw;
    text-align: center;
    padding-bottom: 1rem;
}
.text-white {
    color: #23ad46 !important;
    font-size: 5vw;
    font-weight: bold;
}
.text-white-mobile {
    color: #23ad46 !important;
    font-size: 3vw;
    font-weight: bold;
}
.img-schema {
    width: 60vw;
}
.img-schema-mobile {
    width: 100%;
}
.img-news {
    padding-bottom: 2rem;
    width: 100%;
}
.news {
    font-size: 1.2vw;
    text-align: justify;
    padding-bottom: 3rem;
}
.news-mobile {
    font-size: 3vw;
    text-align: justify;
    padding-bottom: 3rem;
}
.invest-button {
    height: 8vh;
    background-color: #23ad46;
    font-weight: bold;
    color: white;
    width: 27vw;
}
.date-news {
    font-size: 1vw;
    text-align: left;
    padding-bottom: 1rem;
}
.date-news-mobile {
    font-size: 3vw;
    text-align: left;
    padding-bottom: 1rem;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    overflow: hidden;
}
.news-article-read {
    font-size: 1vw;
    text-align: left;
}
.news-article-read-mobile {
    font-size: 3vw;
    text-align: left;
}
.news-info {
    font-size: 1.9vw;
    text-align: left;
    font-weight: bold;
}
.news-info-mobile {
    font-size: 4vw;
    text-align: left;
    font-weight: bold;
}
.card-invest {
    height: 100%;
    width: 27.5vw;
}
.card-invest-mobile {
    padding: 6rem 2rem 1rem 2rem;
}
.col-sec3 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
}
.col-sec3-mobile {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}
.about-row {
    padding-bottom: 1.5rem;
}
.about-top {
    font-size: 3.2vw;
    color: white;
    text-align: center;
}
.about-top-mobile {
    font-size: 5.5vw;
    color: white;
    text-align: center;
}
.about-schema {
    font-size: 1.9vw;
    font-weight: bold;
    padding-right: 12rem;
}
.about-eqp {
    color: white;
    font-weight: bold;
    font-size: 1.9vw;
}
.about-eqp-mobile {
    color: white;
    font-weight: bold;
    font-size: 4.5vw;
    padding-bottom: 2rem;
}
.about-img {
    text-align: center;
}
.about-img-mobile {
    text-align: center;
    padding-bottom: 1rem;
}
.eqp-info {
    padding-top: 0.5rem;
    color: white;
}
.eqp-info-mobile {
    padding-top: 0.5rem;
    color: white;
}
.footer1 {
    margin-top: 1rem;
    color: white;
    font-size: 1.9vw;
}
.footer1-mobile {
    margin-top: 1rem;
    color: white;
    font-size: 6vw;
}
.img1 {
    background-repeat: no-repeat;
    padding-bottom: 1.5rem;
}
.img2 {
    background-repeat: no-repeat;
    padding-bottom: 1.5rem;
}
.img3 {
    background-repeat: no-repeat;
    padding-bottom: 1.5rem;
}
.img4 {
    padding-top: 1.25rem;
    background-repeat: no-repeat;
    padding-bottom: 1.75rem;
}
.row-news {
    padding-left: 13rem;
    padding-right: 13rem;
    padding-top: 3.5rem;
    text-align: center;
}
.row-news-mobile {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 5rem;
    text-align: center;
}
.news-place {
    width: 20vw;
}
.row-navbar {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 5;
    box-shadow: 0 0 30px #d3d3d377;
    padding-left: 1rem;
    padding-right: 1rem;
}
.header-news {
    font-size: 1.2vw;
    font-weight: bold;
    text-align: left;
}
.header-news-mobile {
    font-size: 5vw;
    font-weight: bold;
    text-align: left;
}
.header-news-mobile-another {
    font-size: 4vw;
    font-weight: bold;
    text-align: left;
}
.news-article {
    padding: 1rem 1rem 2rem 1rem;
}
.news-article-mobile {
    padding: 1rem 1rem 2rem 1rem;
}
.insideleft {
    float: left;
    margin-bottom: 0.5rem;
}
.inside {
    float: right;
    margin-bottom: 0.5rem;
}
.projectsection1 {
    background-image: url("/images/proyekheader.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 4rem;
}
.projectsection1-mobile {
    background-image: url("/images/proyekheader.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 6.5rem;
    padding-bottom: 3rem;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    height: 60vh !important;
}
.projectsection2 {
    padding-top: 2.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-bottom: 3.5rem;
}
.aboutsection1 {
    padding-top: 8.5rem;
    padding-bottom: 5.5rem;
    background-image: url("/images/aboutop.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutsection1-mobile {
    padding-top: 6.5rem;
    padding-bottom: 3rem;
    background-image: url("/images/aboutop.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutsection2 {
    padding: 4.5rem 9rem;
}
.aboutsection2-mobile {
    padding: 2rem 4rem;
}
.aboutsection3 {
    padding: 3.5rem;
    background-color: #23ad46;
}
.aboutsection3-mobile {
    padding: 3.5rem 3.5rem 2rem 3.5rem;
    background-color: #23ad46;
}
.ant-row-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}
.section-project {
    padding: 3.5rem;
}
.aboutsection4 {
    padding: 3.5rem 3.5rem 13rem 0;
}
.aboutsection4-mobile {
    padding: 3rem;
}
.feature-properin {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.feature-properin-mobile {
    padding: 2rem 1.5rem;
}
.section1 {
    background-image: url(/images/bg1-cepat.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 13rem;
    padding-bottom: 9rem;
}
.section1-mobile {
    background-image: url("/images/bg1-cepat.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 7rem;
    padding-bottom: 4rem;
}
.section2 {
    padding-top: 5.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-bottom: 5.5rem;
}
.section2-mobile {
    padding: 2rem 3rem 0.5rem 3rem;
}
.section3 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.sectionbutton {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 10.3rem;
}
.sectionbuttonproject {
    padding-bottom: 3.5rem;
}
.section3-mobile {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}
.project-mobile {
    padding: 2rem 2rem 1rem 2rem;
}
.section4 {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    margin-bottom: 5rem;
}
.sectionnews {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 3.5rem;
    margin-bottom: 5rem;
}
.sectionnews-mobile {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.section4-mobile {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 3rem;
}
.section5 {
    height: 40vh;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.section5-mobile {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.section6 {
    height: 80vh;
    padding-left: 3.5rem;
    padding-top: 5.5rem;
}
.section6-mobile {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.section7 {
    height: 80vh;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 5rem;
}
.section7-mobile {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 4rem;
}
.section8 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 5rem;
}
.section8-mobile {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 4rem;
}
.section9 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #27362b;
}
.section9-mobile {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #27362b;
}
.ant-card-body {
    padding: 0px;
}
.ant-modal-body {
    padding: 2rem;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
}
.logo2 {
    float: left;
    padding-top: 3.5rem;
}
.logo2-mobile {
    float: left;
    padding-top: 2.5rem;
}
.logo {
    width: 150px;
    float: left;
}
.carousel .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 82%;
    transition: height 0.15s ease-in;
}
.carousel .slide{
    background: #fff !important;
}
.logo a {
    display: inline-block;
    font-size: 20px;
    padding: 22px 20px 14px;
    text-transform: capitalize;
}
.textinfo {
    float: left;
    padding-right: 0.5rem;
}
.textinfo-mobile {
    float: left;
    padding-right: 0.6rem;
    width: 9% !important;
}
.textinfodesc {
    padding-right: 1.2rem;
    float: left;
    font-size: 0.9vw;
}
.textinfodesc-mobile {
    padding-right: 1.2rem;
    float: left;
    font-size: 2.5vw;
}
.row-sect1 {
    background-color: #23ad46;
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-right: 10rem;
    padding-left: 10rem;
}
.row-sect1-mobile {
    background-color: #23ad46;
    padding: 3rem 2rem;
}
.prop-about {
    font-size: 1.9vw;
    color: white;
    padding-top: 1.7rem;
    font-weight: bold;
}
.prop-about-mobile {
    font-size: 5vw;
    color: white;
    font-weight: bold;
}
.text-card-section1 {
    font-size: 1.9vw;
    font-weight: bold;
    color: #23ad46;
}
.title-invest {
    font-weight: bold;
    font-size: 1.4vw;
    padding: 1rem 1rem 0rem 1rem;
    text-align: left;
}
.title-invest-mobile {
    font-weight: bold;
    font-size: 5vw;
    padding: 1rem 2rem 0rem 2rem;
    text-align: left;
}
.textinfoprogress {
    clear: both;
}
.padding-invest {
    padding: 1rem;
    text-align: left;
}
.padding-invest-mobile {
    padding: 1rem 2rem;
    text-align: left;
}
.ant-divider-horizontal {
    display: block;
    clear: both;
    width: 100%;
    min-width: 100%;
    height: 1px;
    margin: 10px 0;
}
.menuCon {
    width: calc(100% - 150px);
    float: right;
}
.ant-menu-item,
.ant-menu-item-active {
    color: #23ad46;
    border: none !important;
}
.ant-menu-horizontal > .ant-menu-item > a:hover {
    color: #23ad46 !important;
    font-weight: bold;
}

.menuCon .ant-menu-item {
    padding: 0px 5px;
}
.menuCon .ant-menu-submenu-title {
    padding: 10px 20px;
}
.tes {
    background-color: #23ad46;
}
.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
    padding: 10px 15px;
}
.menuCon .ant-menu-horizontal {
    border-bottom: none;
}
.menuCon .leftMenu {
    float: left;
}
.menuCon .rightMenu {
    float: right;
}
.ant-drawer-body {
    padding: 0;
    background: #23ad46;
}
.container-icon {
    padding-top: 26rem;
    padding-bottom: 1rem;
}
.icon-sosmed {
    font-size: 5vw;
    color: white;
    padding: 1.5rem;
}
.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right,
.ant-menu-root.ant-menu-inline {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #23ad46;
}
.barsMenu {
    float: right;
    height: 32px;
    padding: 6px;
    display: none;
    background: #23ad46;
    border: none;
}
.barsMenu:hover {
    float: right;
    background: linear-gradient(to right, #1ec949, #197593) !important;
}
.ant-progress-success-bg,
.ant-progress-bg {
    position: relative;
    background-color: #23ad46 !important;
    border-radius: 100px;
    -webkit-transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
    transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
}
.barsBtn {
    display: block;
    width: 20px;
    height: 2px;
    top: -6px;
    background: white;
    position: relative;
}
.barsBtn:after,
.barsBtn:before {
    content: attr(x);
    width: 20px;
    position: absolute;
    top: -6px;
    left: 0;
    height: 2px;
    background: white;
}
.barsBtn:after {
    top: auto;
    bottom: -6px;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
    display: inline-block;
    width: 100%;
}
.ant-drawer-body .ant-menu-horizontal {
    border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
    border-bottom-color: transparent;
}
.modal-popup-thank {
    padding: 1rem 3rem;
    text-align: center !important;
}
.modal-popup {
    padding: 1rem 3rem;
}
.ant-btn:focus {
    color: white;
    background-color: #23ad46;
    border-color: none !important;
}
.ant-modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 20px;
    -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    pointer-events: auto;
}
@media (min-width: 1440px) {
    .row-navbar {
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 5;
        box-shadow: 0 0 30px #d3d3d377;
        padding-left: 1rem;
        padding-top: 0.8rem;
        padding-right: 1rem;
    }
    .modal-popup {
        padding: 1rem 5rem;
    }
    .modal-popup-thank {
        padding: 1rem 5rem;
        text-align: center !important;
    }
}
@media (max-width: 767px) {
    .barsMenu {
        display: inline-block;
    }
    .leftMenu,
    .rightMenu {
        display: none;
    }
    .logo a {
        margin-left: -20px;
    }
    .menuCon .ant-menu-item,
    .menuCon .ant-menu-submenu-title {
        padding: 1px 20px;
    }
    .logo a {
        padding: 20px 20px 10px;
    }
    .topinfo {
        font-size: 20px;
    }
}

#page-numbers {
    list-style: none;
    display: flex;
    justify-content: center;
}
#page-numbers-mobile {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
#page-numbers-mobile > li {
    margin-right: 0.5em;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-left: 0.5rem;
    font-weight: bold;
    padding-bottom: 1.7rem;
    background: #23ad46;
    width: 8vw;
    text-align: center;
    height: 2vh;
    padding-top: 0.5rem;
    border-radius: 4px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
#page-numbers-mobile > li:hover {
    margin-right: 0.5em;
    color: #23ad46;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-left: 0.5rem;
    font-weight: bold;
    padding-bottom: 1.7rem;
    background: white;
    width: 8vw;
    text-align: center;
    height: 2vh;
    padding-top: 0.5rem;
    border-radius: 4px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
#page-numbers > li {
    margin-right: 0.5em;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-left: 0.5rem;
    font-weight: bold;
    padding-bottom: 1.7rem;
    background: #23ad46;
    width: 3vw;
    text-align: center;
    height: 2vh;
    padding-top: 0.5rem;
    border-radius: 4px;
    margin-bottom: 2.5rem;
}
#page-numbers > li:hover {
    margin-right: 0.5em;
    color: #23ad46;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-left: 0.5rem;
    font-weight: bold;
    padding-bottom: 1.7rem;
    background: white;
    width: 3vw;
    text-align: center;
    height: 2vh;
    padding-top: 0.5rem;
    border-radius: 4px;
    margin-bottom: 2.5rem;
}
